.cBtnNormal{
  border:0px;
  cursor: pointer;
  text-align: center;
  padding:0 10px;
  height:30px;
  line-height: 30px;
  display: inline-block;
  color:#fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  background: #49b764;
}
.cBtnNormal:hover{
  background: #6abb7e;
}