<ul>
    <li name="us"><a href="{$site_url}about/us">关于我们</a></li>
	<li name="wish"><a href="{$site_url}about/wish">总裁寄语</a></li>
    <li name="advisor"><a href="{$site_url}about/advisor">名师顾问</a></li>
	<!-- <li name="partner"><a href="{$site_url}about/partner">合作伙伴</a></li> -->
    <li name="report"><a href="{$site_url}about/report">媒体报道</a></li>
    <li name="notice"><a href="{$site_url}about/newslist/19/1">梯子公告</a></li>
    <li name="witness"><a href="{$site_url}about/witness">用户心声</a></li>
    <li name="contact"><a href="{$site_url}about/contact">联系我们</a></li>
    <li name="join"><a href="{$site_url}about/join">职位招聘</a></li>
    <li name="school"><a href="{$site_url}about/school">团体申请</a></li>
    <li name="agreements"><a href="{$site_url}about/agreements">服务协议</a></li>
    <li name="information"><a href="{$site_url}about/newslist/20/1">教师资讯</a></li>
    <li name="feedback"><a href="{$site_url}about/feedback">反馈建议</a></li>
</ul>