{extends file='about/about_base.html'}

{block name=title}教师资讯{/block}

{block name=stylesheet}
{/block}

{block name=container}
<!--内容start-->
<div class="mainContainer" pagename="information">
    <div class="content information">
        <div class="innerText">
            <div class="hd">
                <h2>教师资讯</h2>
            </div>
            <div class="bd">
                 <ul>
                    <li class="cf">
                        <div class="news-box">
                            <h3>
                                <a href="#" target="_blank">
                                    二次创业者龚海燕自述：身价过亿的女创业者如何炼成
                                </a>
                            </h3>
                            <p class="news-time">来源：i黑马  2014年03月08日</p>
                            <div class="news-info">
                                <p class="con">三月八日妇女节，i黑马特意邀请了女性创业者的楷模龚海燕，给大家讲讲她的创业故事。 龚海燕第一次创业，就做了一家上市公司世纪佳缘，在公司上市之后退出，选了一个自己并不熟知的行业再次出发，目前正在经营一家名叫&ldquo;91外教&rdquo;的在线教育公司，旗下还有一家叫做梯子网的教育网站。
                                </p>
                                <p class="news-more">
                                    <a target="blank" href="">继续阅读</a>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="cf">
                        <div class="news-box">
                            <h3>
                                <a href="#" target="_blank">
                                    二次创业者龚海燕自述：身价过亿的女创业者如何炼成
                                </a>
                            </h3>
                            <p class="news-time">来源：i黑马  2014年03月08日</p>
                            <div class="news-info">
                                <p class="con">三月八日妇女节，i黑马特意邀请了女性创业者的楷模龚海燕，给大家讲讲她的创业故事。 龚海燕第一次创业，就做了一家上市公司世纪佳缘，在公司上市之后退出，选了一个自己并不熟知的行业再次出发，目前正在经营一家名叫&ldquo;91外教&rdquo;的在线教育公司，旗下还有一家叫做梯子网的教育网站。
                                </p>
                                <p class="news-more">
                                    <a target="blank" href="">继续阅读</a>
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="page cf">
                分页
            </div>
        </div>
    </div>
</div>
<!--内容end-->
<!-- 详细内容开始 -->
<div class="mainContainer" pagename="information">
    <div class="content articleCotent">
        <div class="path">
             <a href="#">梯子公告</a> / <em>梯子公告</em>
        </div>
        <div class="hd">
            <h2> 二次创业者龚海燕自述：身价过亿的女创业者如何炼成</h2>
            <p class="info">来源：i黑马  2014年03月08日</p>
        </div>
        <div class="bd">
            <p>二次创业者龚海燕自述：身价过亿的女创业者如何炼成二次创业者龚海燕自述：身价过亿的女创业者如何炼成二次创业者龚海燕自述：身价过亿的女创业者如何炼成二次创业者龚海燕自述：身价过亿的女创业者如何炼成
            二次创业者龚海燕自述：身价过亿的女创业者如何炼成二次创业者龚海燕自述：身价过亿的女创业者如何炼成二次创业者龚海燕自述：身价过亿的女创业者如何炼成二次创业者龚海燕自述：身价过亿的女创业者如何炼成
        二次创业者龚海燕自述：身价过亿的女创业者如何炼成二次创业者龚海燕自述：身价过亿的女创业者如何炼成二次创业者龚海燕自述：身价过亿的女创业者如何炼成二次创业者龚海燕自述：身价过亿的女创业者如何炼成
    二次创业者龚海燕自述：身价过亿的女创业者如何炼成二次创业者龚海燕自述：身价过亿的女创业者如何炼成二次创业者龚海燕自述：身价过亿的女创业者如何炼成二次创业者龚海燕自述：身价过亿的女创业者如何炼成</p>
            <p>二次创业者龚海燕自述：身价过亿的女创业者如何炼成二次创业者龚海燕自述：身价过亿的女创业者如何炼成二次创业者龚海燕自述：身价过亿的女创业者如何炼成二次创业者龚海燕自述：身价过亿的女创业者如何炼成</p>
            <p>二次创业者龚海燕自述：身价过亿的女创业者如何炼成二次创业者龚海燕自述：身价过亿的女创业者如何炼成二次创业者龚海燕自述：身价过亿的女创业者如何炼成二次创业者龚海燕自述：身价过亿的女创业者如何炼成</p>
            <p>二次创业者龚海燕自述：身价过亿的女创业者如何炼成二次创业者龚海燕自述：身价过亿的女创业者如何炼成二次创业者龚海燕自述：身价过亿的女创业者如何炼成二次创业者龚海燕自述：身价过亿的女创业者如何炼成</p>
        </div>
    </div>
</div>
<!-- 详细内容结束 -->
{/block}
