{extends file='about/about_base.html'}

{block name=title}职位招聘{/block}

{block name=stylesheet}
{/block}

{block name=container}
<!--内容start-->
<div class="mainContainer" pagename="join">
    <div class="content">
        <div class="innerText">
            <div class="hd">
                <span class="fr">招聘邮箱:<a href="mailto:zhaopin@tizi.com">zhaopin@tizi.com</a></span>
                <h2>招聘信息</h2>
            </div>
            <div class="bd">
                {foreach $resume as $key => $value}
                <h3{if $key == 0} class="no"{/if}>{$value['title']}</h3>
                {$value['content']}
                {/foreach}
            </div>
            <div class="ft">
                <ul>
                    <li><label>招聘邮箱：</label><a href="mailto:zhaopin@tizi.com">zhaopin@tizi.com</a></li>
                    <li><label><span>电</span>话：</label>010-82535668</li>
                    <li><label><span>地</span>址：</label>北京市海淀区中关村大街18号中关村数字物流港大厦9层917</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--内容end-->
{/block}