{extends file='about/about_base.html'}

{block name=title}合作伙伴{/block}

{block name=stylesheet}
{/block}

{block name=container}
<!--内容start-->
<div class="mainContainer" pagename="partner">
    <div class="content">
        <div class="innerText">
            <div class="hd">
                <h2>合作伙伴</h2>
            </div>
            <div class="bd">
                <h3>京版北教控股有限公司（北京教育出版社）</h3>
                <div class="advisorCon cf">
                    <img src="{$static_url}image/about/logo_beph.jpg" class="fr" />
                    <p>北京教育出版社成立于1983年，隶属于北京出版集团，是以出版教育图书为主的专业出版社。北教社以促进教育和出
                    </p>版事业的发展为宗旨，本着“服务学生、服务教育，面向社会、面向全国，律己育人、争创一流”的出版理念，“全心全意服务于广大中小学师生”的出版原则，以出版二类教材、教学参考书、学生课外读物及教学辅导书为主，精心打造并培育了一大批优秀教辅图书，出书范围涵盖了从幼教、普教到职教和成教等各个领域。</p>
                    <p>北京教育出版社多次荣获中宣部“五个一工程奖”,“中国图书奖” ，“全国科普图书奖”。近年来推出的《金题金卷》、《红百分》、《新阳光》、《超越600分》等图书系列市场表现良好，经营业绩稳步上升。据全国开卷市场调查显示，北教社的产品在教辅图书市场占有率和产品动销率稳居首位。</p>
                </div>
                <h3>圣智学习集团</h3>
                <div class="advisorCon cf">
                    <img src="{$static_url}image/about/logo_cengage.jpg" class="fr" />
                    <p>圣智学习集团(www.cengage.com/us; www.cengageasia.com)是全球领先的创新型教育、学习、研究方案提供商，为大专院校、中小学、职业学校、专业人士及图书馆客户提供产品和服务。圣智提供的产品和服务为客户达成学术卓越、职业发展、增加学生参与度、提升学习成效、随时随地提供权威信息而设计。圣智学习通过在图书馆和学术市场的独特优势，提供从图书馆到课堂的完全整合型学习解决方案。圣智学习旗下出版品牌包括：Brooks/Cole, CourseTechnology, Delmar, Gale, National Geographic Learning, South-Western及Wadsworth等。圣智学习全球员工约5,500人，2011财年营业额约20亿美金，总部位于美国康涅狄格州的斯坦佛市，亚太区域总部位于新加坡，在全球20多个国家或地区设有分支机构。</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--内容end-->
{/block}
