{extends file='about/about_base.html'}

{block name=title}团体账户申请{/block}

{block name=stylesheet}
{/block}

{block name=container}
<!--内容start-->
<div class="mainContainer" pagename="school">
  <div class="content">
      <div class="innerText">
        <div class="hd">
          <h2>校园团体账户申请</h2>
        </div>
            <div class="bd">
              <h3>申请条件：</h3>
              <ul>
                  <li>1、学校或者培训机构等团体用户</li>
                  <li>2、学校有固定IP地址，通过控制IP达到让某一个IP或者一个IP范围内不受任何限制下载中学梯子网的全部教学资料；</li>
                  <li>3、表格请通过邮件发送到 <a href="mailto:school@tizi.com" target="_blank">school@tizi.com</a></li>
                  <li>4、<a href="{$site_url}about/school/download" target="_self">点击下载表格</a></li>
                </ul>
                <h3>表格内容如下：</h3>
                <div class="tables">
          <table width="548">
                      <tr>
                        <td width="151">学校全称：</td>
                        <td width="150">&nbsp;</td>
                        <td width="231"><span class="red">*</span>请填写您的学校全称</td>
                      </tr>
                      <tr>
                        <td width="151">学校IP：</td>
                        <td>&nbsp;</td>
                        <td>没有固定IP可不提供</td>
                      </tr>
                      <tr>
                        <td width="151">所在地区：</td>
                        <td>&nbsp;</td>
                        <td><span class="red">*</span>请选择所在地区</td>
                      </tr>
                      <tr>
                        <td width="151">邮编：</td>
                        <td>&nbsp;</td>
                        <td><span class="red">*</span>请填写邮编</td>
                      </tr>
                      <tr>
                        <td width="151">地址：</td>
                        <td>&nbsp;</td>
                        <td><span class="red">*</span>选择地区后直接填写街道名称即可</td>
                      </tr>
                      <tr>
                        <td width="151">联系人：</td>
                        <td>&nbsp;</td>
                        <td><span class="red">*</span>请填写您的真实姓名</td>
                      </tr>
                      <tr>
                        <td width="151">电话：</td>
                        <td>&nbsp;</td>
                        <td><span class="red">*</span>填写您的固定电话</td>
                      </tr>
                      <tr>
                        <td width="151">手机：</td>
                        <td>&nbsp;</td>
                        <td><span class="red">*</span>请填写您的手机号码</td>
                      </tr>
                      <tr>
                        <td width="151">邮箱：</td>
                        <td>&nbsp;</td>
                        <td><span class="red">*</span>请正确填写电子信箱</td>
                      </tr>
                      <tr>
                        <td width="151">联系QQ：</td>
                        <td>&nbsp;</td>
                        <td>请填写联系人QQ</td>
                      </tr>
                      <tr>
                        <td width="151">学校校长：</td>
                        <td>&nbsp;</td>
                        <td>请填写学校校长信息</td>
                      </tr>
                      <tr>
                        <td width="151">学校电话：</td>
                        <td>&nbsp;</td>
                        <td>请填写学校校长的联系电话</td>
                      </tr>
                      <tr>
                        <td width="151">学校手机：</td>
                        <td>&nbsp;</td>
                        <td>请填写学校校长手机</td>
                      </tr>
                    </table>
                </div>
          </div>
        </div>
    </div>
</div>
<!--内容end-->
{/block}
