{extends file='about/about_base.html'}

{block name=keywords}梯子网中小学资源,中小学学习资料{/block}
{block name=description}梯子网(www.tizi.com)整合了上千万单题及近千万份的课件资源，通过技术手段和大量的人工处理，使得每一份课件资源都精确到了课本章节定位，每一道题目都拥有数十个相关数据属性，方便科学地管理教学与学习过程。{/block}
{block name=title}梯子网中小学资源，中小学学习资料概况{/block}

{block name=stylesheet}{/block}

{block name=container}
<!--内容start-->
<div class="mainContainer" pagename="us">
    <div class="content">
        <div class="innerText">
            <div class="hd">
                <h2>关于我们</h2>
            </div>
            <div class="bd">
                <h3>简介：</h3>
                <p>梯子网(www.tizi.com )隶属于北京那好教育科技有限公司，是中小学优质教学资源服务平台。</p>
                <p>梯子网(www.tizi.com)整合了上千万单题及近千万份的课件资源，通过技术手段和大量的人工处理，使得每一份课件资源都精确到了课本章节定位，每一道题目都拥有数十个相关数据属性，方便科学地管理教学与学习过程。在成立之初我们便与北京教育出版社达成战略合作伙伴关系,充分发挥传统行业的资源优势以及网络教育先进的技术优势，进行了大量有意义的互联网教育领域的探索。</p>
                <p>梯子网(www.tizi.com)拥有数量多、分类全、版本涵盖广的题库及课件资源，为老师提供强有力的教研工具，同时通过学生在线测评、作业、答疑等功能，为学生提供个性化的学情诊断和学习计划，让家长随时随地了解孩子的学习情况。</p>
                <div class="brand">
                    <h3>品牌释义：</h3>
                    <div class="img_us bd">
                        <img src="{$static_url}image/about/img_us.gif" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--内容end-->
{/block}
