{extends file='about/about_base.html'}

{block name=title}用户动态{/block}

{block name=stylesheet}
{/block}

{block name=container}
<!--内容start-->
<div class="mainContainer" pagename="user">
	<div class="content">
    	<div class="innerText">
    		<div class="hd">
    			<h2>用户动态</h2>
    		</div>
            <div class="bd">
	            <h3>简介：</h3>
	            <p>梯子网（tizi.com )隶属于北京那好教育科技有限公司，梯子网拥有数量最多、分类最全的、版本涵盖最广的题库以及课件资源。</p>
	            <p>梯子网（tizi.com）成立之初便与北京教育出版社达成战略合作伙伴关系，充分发挥传统行业的资源优势以及梯子网的技术优势。整合了
	1000多万单题以及1000多万份课件资源，通过技术手段个性化处理，使得每一份课件资源都精确到了课本章节，每一道题目都拥有三十多个相
	关属性。</p>
				<h3>品牌释义：</h3>
	            <p>梯子：是教师备课、出试卷的必备工具，也是教师甘为人梯的精神释义；</p>
	            <p>梯子：是学生在知识的高峰上不断攀爬站得更高的工具。</p>
	            <h3>我们的愿景：</h3>
	            <p>为老师助力，让老师有更多时间投入教研和教学</p>
	            <p>为学生减负，让学生的每一分钟都不再做无用功</p>
	            <p>为家长分忧，让家长能够随时了解孩子学习情况</p>
	            </div>
        </div>
    </div>
</div>
<!--内容end-->
{/block}