{extends file='about/about_base.html'}

{block name=title}总裁寄语{/block}

{block name=stylesheet}
{/block}

{block name=container}
<!--内容start-->
<div class="mainContainer" pagename="wish">
  <div class="content">
      <div class="innerText">
        <div class="hd">
          <h2>总裁寄语</h2>
        </div>
            <div class="bd wishCon">
                <img src="{$static_url}image/about/president.gif" class="fr" />
              <h3>大家好！</h3>
              <p>我是龚海燕，网名小龙女，我出身于湖南省桃源县一个清贫的农村家庭，高二读了两个月后，因为家贫而辍学，后去珠海打工。在辍学三年零一个月后，我想到很多同学都是象牙塔里的天之骄子，而我不过是一名流水线的打工妹，后悔起自己当初幼稚的决定，而返乡求学，在96年11月23日，我又回到了桃源一中高二的教室。第一次月考时九科我只有语文及格，而一年零七个月后我以全县第一的成绩考上北京大学中文系。我的经历告诉我学习是有方法的，看到很多孩子因为没有掌握方法与技巧，学得非常辛苦，我由衷地希望助他们一臂之力。在北大期间，我曾经通过做家教的方式，先后带过40多个孩子，很多孩子都取得了较大的进步。北大毕业后因为成绩优异，我被保送到复旦大学新闻学院读研。</p>
              <p>研究生期间，为了帮自己和同学们找对象，我创办了世纪佳缘婚恋网站，没想到吸引了九千万注册用户，成为中国著名的婚恋网站，
   帮助了上千万人找到另一半，而我自己，也在上面收获了自己的佳缘。在我为世纪佳缘奉献了十年青春、智慧和汗水，也基本衣食无忧
   之后，做教育的情结在我内心深处被重新激活。想到自己在美国路演上市时，无法和投资人用英语对话，想到无数中国学生像我一样，
   学习了多年的英语，依然是聋子英语和哑巴英语，去年底我创办了91外教网（www.91waijiao.com），在美国招募外教，在中国招募学员，
   让老师和学生都可以足不出户上课，让学生可以直接和美国外教面对面互动对话，获得学习的时间和空间上的自由。这个项目很快获得
   了新东方徐小平老师和网易资本的投资。</p>
              <p>因为考试在中国的教育体系中的关键作用，我想在在线教育的路上走得更远，想到我自己，由于一场考试而彻底改变的命运，想到
 还有太多的孩子没有找到学习方法陷于题海战术，想到上千万的老师工作压力巨大，想到无数的家长为孩子的学习操碎了心，我于是创
 办了梯子网（www.tizi.com）。希望通过我们的努力，去帮助辛苦工作的老师，和埋头苦学的学子，还有为孩子学习操碎了心的父母。</p>
              <p>曾经有人劝我不要自讨苦吃，担心我不懂教育不是专家，我相信任何行业，通过一万个小时的努力学习，就可以成为专家，我已经
学习了五千个小时了，^_^。作为一名有十年经验的互联网从业者，我衷心希望利用互联网帮助大家获得更优质的教学资源，更高效的
学习方法，更便捷的学习渠道。</p>
              <p>我相信人生就是一段旅程，不论成败，只求旅途的精彩，希望一路上，有你，与我同行！</p>
              <p>欢迎大家联系，我的邮箱是：<a href="mailto:gonghaiyan@tizi.com">gonghaiyan@tizi.com</a>，谢谢！</p>
              </div>
        </div>
    </div>
</div>
<!--内容end-->
{/block}
