<!-- 幻灯片开始 -->
<div class="focus posr" id="wind_A2">
    <div class="w">
        <ul class="cf">
            <li>
                <a href="{$tizi_url}banji" target="_blank">
                    <img src="{$static_url}{$static_version}image/homePage/focus/index_teacher.jpg" alt="">
                </a>
            </li>
            <li>
                <a href="{$dafen_url}" target="_blank">
                    <img src="{$static_url}{$static_version}image/homePage/focus/index_dafen.jpg" alt="梯子打分">
                </a>
            </li>
        </ul>
        <div class="btn">
            <span id="btn" class="cf">
                <a href="javascript:void(0)" class="active">1</a>
                <a href="javascript:void(0)">2</a>
            </span>
        </div>
    </div>
</div>
<!-- 幻灯片结束 -->