{if $user_type}
{nocache}
<!-- 登录之后的用户信息开始 -->
<div class="userInfoWrap">
    <!-- 用户图像开始 -->
    <div class="userImgWrap">
        <a href="{$login_url}{$constant.user_type[$user_type]}/user/avatar">
            <img {if $base_avatar}src="{$base_avatar}{$version}"{else}src="{$static_url}{$static_version}image/common/default_avatar.gif"{/if} />
        </a>
    </div>
    <!-- 用户图像结束 -->
    <!-- 用户名开始 -->
    <h1 class="userName MyURName">
        {sub_str($user_name,0,12)}
    </h1>
    <!-- 用户名结束 -->
    <a href="{$login_url}{$constant.user_type[$user_type]}/user/center" class="cBtnNormalOrg myCenterBtn yh">进入我的个人中心</a>
    <!-- 退出开始 -->
    <div class="loginOutWrap">
        <a href="javascript:void(0);" dest="reload" class="logoutCheck">退出</a>
    </div>
    <!-- 退出结束 -->
</div>
<!-- 登录之后的用户信息结束 -->
{/nocache}
{else}
<!-- 登录开始 -->
<div class="loginArea">
    <h2>
        用户登录
    </h2>
    <div class="tabContent loginWrapCon">
        <!-- 无班级账号登录开始 -->
        <div class="item active" id="userNameLogin">
            {include file='file:[lib]common/tizi_login.html'}
        </div>
        <!-- 无班级账号登录结束 -->
    </div>
    <!-- 注册开始 -->
    <div class="registerWrap">
        <a href="{$login_url}register" class="cBtnNormalOrg fullColumn yh" target="_blank">免费注册</a>
    </div>
    <!-- 使用其他账号登录开始 -->
    <div class="otherLogin">
        <h4>使用其他账号登录：</h4>
        <p class="cf oauthLogin" id="oauthLogin">
            <a href="javascript:void(0)" class="qq fl useTencent" title="腾讯QQ" durl="{$login_url}oauth/login?type=qq"><span></span>用QQ登录</a>
            <a href="javascript:void(0)" class="weibo fr useWeiBO" title="新浪微博" dUrl="{$login_url}oauth/login?type=weibo"><span></span>用微博登录</a>
        </p>
        
    </div>
    <!-- 使用其他账号登录结束 -->
    <!-- 注册结束 -->
</div>
<!-- 登录结束 -->
{/if}