<p class="all_people"><a href="javascript:void(0);" title="">初三一班作业</a> / <span>2014-01-16 23:00（几何图形初步）</span></p>
<ul class="homeworkPreTab fn-clear">
    <li class=""><a href="javascript:void(0);">作业题目</a></li>
    <li class="noBorderLeft"><a href="javascript:void(0);">错题排行</a></li>
    <li class="noBorderLeft active"><a href="javascript:void(0);">学生答题统计</a></li>
</ul>
<input type="hidden" value="2151" class="assignment_id">
<div class="homeworkPreCon">
    <!-- 作业题目 开始 -->
    <div class="homeworkCont" style="display: none;">
        <div class="subjectBox">
            <div class="subjectHead cf"><span class="fl">第<i class="orders">1</i>题</span></div>
            <dl class="click_q">
                <dt>【题文】下列各句中，没有语病的一项是（2分）</dt><dt>
                </dt><dd class="body_text">
                    <ul>
                        <li>A．使用语言</li>
                        <li>B．直立行走</li>
                        <li>C．造屋定居</li>
                        <li>D．制造工具</li>
                    </ul>
                </dd>
                <dd class="answer undis"><br>答案：D</dd>
            </dl>
        </div>
    </div>
    <!-- 作业题目 结束 -->

    <!-- 错题排行 开始 -->
    <div class="homeworkCont" style="display: none;">
        <table class="myallClass_student">
            <thead>
                <tr>
                    <th>题号</th>
                    <th width="100">答错人数</th>
                    <th width="148">A</th>
                    <th width="148">B</th>
                    <th width="148">C</th>
                    <th width="148">D</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a class="subjectDetial" href="javaascript:;" title="">第5题</a></td>
                    <td>30</td>
                    <td class="BgPink">10</td>
                    <td class="BgPink">10</td>
                    <td class="BgGreen">10</td>
                    <td class="BgPink">10</td>
                </tr>
                <tr>
                    <td><a class="subjectDetial" href="javaascript:;" title="">第5题</a></td>
                    <td>30</td>
                    <td class="BgPink">10</td>
                    <td class="BgGreen">10</td>
                    <td class="BgPink">10</td>
                    <td class="BgPink">10</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- 错题排行 结束 -->

    <!-- 学生答题统计 开始 -->
    <div class="homeworkCont" style="display: block;">
        <table class="myallClass_student">
            <thead>
                <tr>
                    <th width="90">姓名</th>
                    <th width="100">下载状态</th>
                    <th class="txtAlignLeft">选择题对错</th>
                    <th width="130">选择题正确率</th>
                    <th width="90">评语</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>龚海燕</td>
                    <td>已下载</td>
                    <td class="txtAlignLeft">
                        <a class="colorGreen" href="javascript:;" title="">1</a>
                        <a class="colorRed" href="javascript:;" title="">2</a>
                        <a class="colorGreen" href="javascript:;" title="">3</a>
                        <a href="javascript:;" title="">4</a>
                        <a href="javascript:;" title="">5</a>
                    </td>
                    <td>45.4%</td>
                    <td><a class="writeComment" href="javascript:;" title="">写评语</a></td>
                </tr>
                <tr>
                    <td>龚海燕</td>
                    <td>未下载</td>
                    <td class="txtAlignLeft">未在线作答</td>
                    <td>--</td>
                    <td>已评论</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- 学生答题统计 结束 -->
</div>

<!-- 题目详情弹出框 开始 -->
<div id="subjectDetialPop" class="pop_box">
    <div class="teacherClass">
        <div class="pop_main">
            <dl class="click_q">
                <dt>【题文】下列各句中，没有语病的一项是（2分）</dt><dt>
                </dt><dd class="body_text">
                    <ul>
                        <li>A．使用语言</li>
                        <li>B．直立行走</li>
                        <li>C．造屋定居</li>
                        <li>D．制造工具</li>
                    </ul>
                </dd>
                <dd class="answer undis"><br>答案：D</dd>
            </dl>
        </div>
    </div>
</div>
<!-- 题目详情弹出框 结束 -->                        
