.noFind{margin:35px auto 35px auto;background: #f6f6f6;padding:90px 0 200px 0;}
.noFind h2{background:url(../../image/common/nofind_bg.gif) no-repeat left top; padding-left:150px;height: 140px;line-height: 120px;font-size: 24px;width:140px;margin:0 auto; font-weight: normal}
.noFind .bd{font-size:18px;line-height:32px; text-align: center;}