<p class="info fr">
    <a href="{$site_url}teacher/paper/preview/{$data.subject_id}" class="cBtnNormal topNavcBtnNormal">试卷预览</a>
    {nocache}
    {if $user_type}
        <span>
            您好，<em class="MyURName">{sub_str($user_name,0,12)}</em>！
        </span>
    {else}
        <a id="tiziLogin" class="loginCheck" href="javascript:void(0);" dest="{if isset($login_redirect) && $login_redirect}{$login_redirect}{else}reload{/if}" role="{if isset($reg_role)}{$reg_role}{/if}">登录</a>
        {$reg_url=$login_url|cat:"register"}
        {if isset($reg_redirect) && $reg_redirect}
            {$reg_url=$reg_url|cat:"?redirect="|cat:urlencode($reg_redirect)}
        {else if isset($this_url) && $this_url && $this_url neq $tizi_url}
            {$reg_url=$reg_url|cat:"?redirect="|cat:urlencode($this_url)}
        {/if}
        {if isset($reg_role) && $reg_role}
            {if isset($reg_redirect) && $reg_redirect}
                {$reg_url=$reg_url|cat:"&role="|cat:$reg_role}
            {else if isset($this_url) && $this_url}
                {$reg_url=$reg_url|cat:"&role="|cat:$reg_role}
            {else}
                {$reg_url=$reg_url|cat:"?role="|cat:$reg_role}
            {/if}
        {/if}
        <a id="tiziRegister" href="{$reg_url}" target="_blank">免费注册</a>
    {/if}
    {/nocache}
</p>
<p class="fl">
	<span class="title">试卷选题</span>
	<a href="{$site_url}juanzi" class="returnPrevA">返回上一页</a>
</p>