<!-- 用户纠错功能开始 -->
<div id="haveErrorPop" class="pop_box">
    <form class="haveErrorForm_beta" action="{$site_url}feedback/feedback/correction" method="post">
          <!-- 纠错模块开始 -->
          <div class="md_haveError pop_main">
            <p class="haveErrorPoint">尊敬的老师，如果您发现题目中的任何错误，请填写好下面的信息提交给我们，我们将会仔细检查修改。</p>
            <ul>
                <li>
                   <div class="lite_title">题目编号：</div><span class="haveErrorQIdSpan">34324789</span>
                </li>
                <li>
                   <div class="lite_title">错误类型:</div>
                   <div class="checkInput fl">
                    {$types = Constant::q_wrong_type(null,true)}
                    {foreach $types as $k=>$v}
                          <!-- 题目类型 -->
                          <input type="checkbox" id="{$k}" value="{$k}" class="items" name="wrong_type[]"/>
                          <label class="labelr" for="{$k}">{$v}</label>
                    {/foreach}
                          <!--隐藏域值 -->
                          <span class="Validform_checktip"></span>
                    </div>
                </li>
                <li>
                   <div class="lite_title">错误描述:</div>
                   <div class="cf"></div>
                   <textarea name="content" id="lite_textarea" class="lite_textarea"></textarea>
                </li>
                <li>
                   <div class="lite_title">附图(目前暂时只支持.jpg .gif .png 格式的图片上传,大小在2M以内)</div>
                   <div class="image_upload">
                        <!-- 上传图片单体开始 -->
                        <div class="lite_upload">
                          <span class="upladpic1 upladpic"></span>
                          <div class="clearpic"></div>
                          <input type="file" id="upladpic1" name="upladpic1" class="fbupload btn_file btn_green" style="display:none;"/>
                        </div>
                        <!-- 上传图片单体结束 -->
                        <!-- 上传图片单体开始 -->
                        <div class="lite_upload">
                          <span class="upladpic2 upladpic"></span>
                          <div class="clearpic"></div>
                          <input type="file" id="upladpic2" name="upladpic2" class="fbupload btn_file btn_green" style="display:none;"/>
                        </div>
                        <!-- 上传图片单体结束 -->
                        <!-- 上传图片单体开始 -->
                        <div class="lite_upload">
                           <span class="upladpic3 upladpic"></span>
                           <div class="clearpic"></div>
                           <input type="file" id="upladpic3" name="upladpic3" class="fbupload btn_file btn_green" style="display:none;"/>
                        </div>
                        <!-- 上传图片单体结束 -->
                        <!-- 上传图片单体开始 -->
                        <div class="lite_upload">
                           <span class="upladpic4 upladpic"></span>
                           <div class="clearpic"></div>
                           <input type="file" id="upladpic4" name="upladpic4" class="fbupload btn_file btn_green" style="display:none;"/>
                        </div>
                        <!-- 上传图片单体结束 -->
                        <input type="hidden" name="picture_urls" value="" id="picture_urls"/>
                   </div>
                </li>
            </ul>
          </div>
          <!-- 纠错模块结束 -->
          <input type="hidden" class="feedback_question_source" name='source' value="{if isset($source)}{$source}{/if}"/>
          <input type="hidden" class="haveErrorQId" name='question_id' />
          <input type="hidden" name='redirect' value="callback:qFeedback" />
          <input type="submit" class="undis" />
    </form>
</div>
<!-- 用户纠错功能结束 -->