<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="keywords" content="{block name=keywords}{/block}">
<meta name="description" content="{block name=description}{/block}" />
<title>{block name=title}{/block}-梯子网</title>
<link rel="stylesheet" type="text/css" href="{$static_url}{$static_version}css/parentChampions/style.css" />
{block name=stylesheet}{/block}
</head>

<body class="navChampions">
<!-- 头部开始-->
{include file='file:[lib]common/student/header.html'}
{include file='file:[lib]common/student/nav.html'}
<!-- 头部结束 -->
<!-- 主体内容开始 -->
<div class="wrap parentChampions" id="tiziModule" module="activity" curActive="parentChampions">
	{block name=container}{/block}
</div>
<!-- 主要内容结束 -->
<!-- 底部开始 -->
{include file='file:[lib]common/student/footer.html'}
<!-- 底部结束 -->
<!-- js引入开始 -->
<script type="text/javascript" src="{$static_url}{$static_version}public/sea/2.1.0/sea.js{$version}"></script>
<script type="text/javascript" src="{$static_url}{$static_version}public/config.js{$version}"></script>
<!-- js引入结束 -->
{include file='file:[lib]common/tizi_ga.html'}
</body>
</html>