{extends file='appcenter/app_base.html'}

{block name=keywords}学习类应用,学习类APP{/block}
{block name=description}梯子网为大家提供丰富多样化的学习类app，学习类应用，方便大家在android，iphone 等手机上进行学习。{/block}
{block name=title}学习类应用_学习类APP{/block}

{block name=stylesheet}
{/block}

{block name=container}
<!--内容start-->
<div class="mainContainer" pagename="index">
    <!--应用中心首页开始-->
    <div class="appIndex">
        <h2>梯子网应用中心</h2>
        <div class="md_bd">
            <ul>
                <li>
                    <a href="{$site_url}teacher/cloud/other" class="icon_img loginCheck">
                        <img src="{$static_url}{$static_version}image/appCenter/icon_disk.jpg" width="169" height="169"/>
                        <em>教师版</em>
                    </a>
                    <h3><a href="{$site_url}teacher/cloud/other" class="loginCheck">网盘</a></h3>
                    <p><a href="{$site_url}teacher/cloud/other" class="loginCheck">超大容量永久免费使用，无限扩容。</a></p>
                </li>
                <li>
                    <a href="{$space_url}" class="icon_img" target="_blank">
                        <img src="{$static_url}{$static_version}image/appCenter/icon_space.jpg" width="169" height="169"/>
                        <em>教师版</em>
                    </a>
                    <h3><a href="{$space_url}" target="_blank">教师空间</a></h3>
                    <p><a href="{$space_url}" target="_blank">教师个人博客分享空间。</a></p>
                </li>
                <li>
                    <a href="{$xue_url}" class="icon_img" target="_blank">
                        <img src="{$static_url}{$static_version}image/appCenter/icon_shuati.jpg" width="169" height="169"/>
                        <em>网页版</em>
                    </a>
                    <h3><a href="{$xue_url}" target="_blank">梯子学堂－天天爱刷题</a></h3>
                    <p><a href="{$xue_url}" target="_blank">网页刷题，天天提高，学霸好帮手。</a></p>
                </li>
                <li>
                    <a href="{$site_url}gk_shuati" class="icon_img" target="_blank">
                        <img src="{$static_url}{$static_version}image/appCenter/icon_aq.jpg" width="169" height="169"/>
                        <em>高考版</em>
                    </a>
                    <h3><a href="{$site_url}gk_shuati" target="_blank">天天爱刷题</a></h3>
                    <p><a href="{$site_url}gk_shuati" target="_blank">手机刷题，天天提高，学霸好帮手。</a></p>
                </li>
                <li>
                    <a href="{$dafen_url}" class="icon_img" target="_blank">
                        <img src="{$static_url}{$static_version}image/appCenter/icon_dafen.gif" width="169" height="169"/>
                        <em>梯子打分</em>
                    </a>
                    <h3><a href="{$dafen_url}" target="_blank">梯子打分</a></h3>
                    <p><a href="{$dafen_url}" target="_blank">老师手中的打分神器。</a></p>
                </li>
                <li>
                    <a href="{$jia_url}parent/safe" class="icon_img" target="_blank">
                        <img src="{$static_url}{$static_version}image/appCenter/icon_geren.gif" width="169" height="169"/>
                        <em>绿色上网</em>
                    </a>
                    <h3><a href="{$jia_url}parent/safe" target="_blank">绿色上网</a></h3>
                    <p><a href="{$jia_url}parent/safe" target="_blank">过滤不良信息，搭建绿色学习空间。</a></p>
                </li>
                <!-- <li>
                    <a href="{$survey_url}" class="icon_img" target="_blank">
                        <img src="{$static_url}{$static_version}image/appCenter/icon_survey.jpg" width="169" height="169"/>
                        <em>网页版</em>
                    </a>
                    <h3><a href="{$survey_url}" target="_blank">梯子调查</a></h3>
                    <p><a href="{$survey_url}" target="_blank">简单、好用的免费在线调查工具。</a></p>
                </li>
                <li>
                    <a href="{$huodong_url}" class="icon_img" target="_blank">
                        <img src="{$static_url}{$static_version}image/appCenter/icon_down.jpg" width="169" height="169"/>
                        <em>测试版</em>
                    </a>
                    <h3><a href="{$huodong_url}" target="_blank">梯子活动</a></h3>
                    <p><a href="{$huodong_url}" target="_blank">梯子活动。</a></p>
                </li> -->
            </ul>
        </div>
    </div>
    <!--应用中心首页结束-->
</div>
<!--内容end-->
{/block}