{if $total_count>0 || $dir_id>0}
<!--全部其他文档开始-->
<input type='hidden' class='current_dir_id' data-fname="{$dir_name}" value='{$dir_id}' />
<div class="ajax_file_list">
    <div class="otherFileText">
        <div class="otherFileList">
            <div class="md_hd">
                <h2>
                    共{$total_count}个
                </h2>
            </div>
            <div class="md_bd">
            <ul>
                <li class="nav_tab">
                    <label class="fl">名称</label>
                    <span class="fl fsize">大小</span>
                    <span class="fl ftime">创建时间</span>
                </li>
                <li  {if $dir_id eq 0}style="display:none" {/if}>
                  <label class='fl go_back_dir' data-dir-id={$dir_id} >返回上级目录</label>
                  <span></span>
                  <span></span>
                </li>
                {if $data}
                {if isset($data.dir) && $data.dir}{foreach $data.dir as $k1=>$d}<!--遍历文件夹-->
                <li class="folders" df_id='{$d.dir_id}'>
                    <label class="fl into_dir ftitle" title="{$d.dir_name}" file-ext="" data-dir-id="{$d.dir_id}" >{$d.dir_name}</label>
                    <span class="fl fsize">--</span>
                    <span class="fl ftime">{date("Y-m-d H:i",$d.create_time)}</span>
                    <div class="btnList">
                        <a href="javascript:;" class="cBtnSilver resetFlieName" file_id="{$d.dir_id}" file_name="{$d.dir_name}">重命名</a>
                        <a href="javascript:;" class="cBtnSilver moveFlie"  moved-resource-id="{$d.dir_id}">移动</a>
                        <a href="javascript:;" class="cBtnSilver deleteFile" file_id="{$d.dir_id}">删除</a>
                    </div>
                </li>
                {/foreach}
                {/if}
                {if $data.file} <!--遍历文档-->
                {foreach $data.file as $k2=>$v}
                {include file='teacher/resource/file_list_tpl.html'}
                {/foreach}
                {/if}
                {/if}
            </ul>
            <!--分页开始-->
            <div class="page cf">
                <p class="fr">{$pages}</p>  
            </div>
            <!--分页结束-->
        </div>
        </div>
    </div>
</div>
<!--全部其他文档结束-->
{else}
<!-- 没有内容开始 -->
<div class="emptyNotice">
  <img src="{$static_url}{$static_version}/image/teacherCloud/noShare.png" alt="">
  <ul>
    <li>您还没有上传过任何文件哦~</li>
    <li>立刻点击上传文件按钮来添加文件吧！</li>
    <li>网盘不仅可以安全的存储您重要的文件，还可以方便的将学习资料分享给您班级内的学生！</li>
  </ul>
</div>
<!-- 没有内容结束 --> 

{/if}