.parentHotTag{margin:34px 0;}
.parentHotTag .hd{border-bottom:1px solid #ccc;padding-bottom:8px;}
.parentHotTag .hd h2{font-size:18px;}
.parentHotTag .bd{padding:15px 0 0 0;}
.parentHotTag .bd a{word-wrap:break-word;display:block;margin:0px 10px 10px 0;_display:inline;float:left;border:1px solid #d4d4d4;padding:4px 8px;background:#f7f7f9;}