.wrap{margin:30px auto;}
.wrap .slide{background: #f6f6f6;}
.wrap .slide .hd{ text-align: center;}
.wrap .slide a.choosePaper{margin:20px auto;width: 90px;height:35px;line-height:35px;}
.wrap .slide a.choosePaper:hover{color: #fff;}