<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="{block name=keywords}{/block}"/>
<meta name="description" content="{block name=description}{/block}"/>
<title>{block name=title}{/block}-梯子网</title>
<link rel="stylesheet" type="text/css" href="{$static_url}{$static_version}css/teacherHomework/style.css" />
{block name=stylesheet}{/block}
</head>
<body class="navHomework">
{include file='file:[lib]common/teacher/header.html'}
{include file='file:[lib]common/teacher/nav.html'}
<!--主要部分开始-->
<div class="teacherHomework" id="tiziModule" module="teacherHomework">
    {block name=container}{/block}
</div>
<!--主要部分结束-->
{include file='file:[lib]common/teacher/footer.html'}
<!-- js引入开始 -->
<script type="text/javascript" src="{$static_url}{$static_version}public/sea/2.1.0/sea.js{$version}"></script>
<script type="text/javascript" src="{$static_url}{$static_version}public/config.js{$version}"></script>
<!--js引入结束-->
{block name=script}{/block}
<!--js引入结束-->
{include file='file:[lib]common/tizi_ga.html'}
</body>
</html>
