<td>  
{if isset($v.game_types) and $v.game_types}
 {foreach $v.game_types as $gts=>$gt}
        {if $gt.games}
        <div class="choiceItem multi exerciseChoice ">
            <div class="checkWrapBox">
                <input type="checkbox" id="{$gt.game_type}" />
                {$gt.game_type_name}
            </div>
            <table class="innerTable">
                <tr>
                    <td>
                        {foreach $gt.games as $gs =>$g}
                        {if $g@iteration==1}
                        <img src="{$static_url}image/common/game/game_name{$g.id}.png" alt="{$v.name}" class="gamePic" game_id="{$g.id}"/>
                        {/if}
                        {/foreach}
                    </td>
                    <td>
                        <select name="" class="exerciseSelect" game_type_id="{$gt.game_type}">
                           {foreach $gt.games as $gs =>$g}
                            <option value="{$g.id}" game_path={$g.game_path} game_data_type={$g.game_data_type} game_type={$g.game_type} >{$g.game_name}</option>
                           {/foreach}
                        </select>
                    </td>
                </tr>
            </table>
        </div>
        {/if}
        <!-- 单个词汇练习项结束 -->
    <!-- 词汇练习题目列表结束 -->
{/foreach}
{/if}
    </td>
