<div class="tmpGroupTip undis">
		<div class="teacherTestLibrary">
			<div class="uploadNewQa">
				<div class="myGroupTip">
					<form action="{$site_url}user/user_question/new_group" method="post" class="myGroupTipForm">
						<!-- 我的题库 -->
						<div class="dataStore" style="undis"></div>
						<ul>
							<li>
								<label>学科：</label>
								<select name="sid"  class="s_newSubject">
									<option value="">请选择学科</option>
									<option value="19">小学语文</option>
									<option value="20">小学数学</option>
									<option value="21">小学英语</option>
									<option value="22">小学科学</option>
									<option value="26">小学信息技术</option>
									<option value="1">初中语文</option>
									<option value="2">初中数学</option>
									<option value="3">初中英语</option>
									<option value="4">初中物理</option>
									<option value="5">初中化学</option>
									<option value="6">初中生物</option>
									<option value="7">初中政治</option>
									<option value="8">初中历史</option>
									<option value="9">初中地理</option>
									<option value="24">初中信息技术</option>
									<option value="10">高中语文</option>
									<option value="11">高中数学</option>
									<option value="12">高中英语</option>
									<option value="13">高中物理</option>
									<option value="14">高中化学</option>
									<option value="15">高中生物</option>
									<option value="16">高中政治</option>
									<option value="17">高中历史</option>
									<option value="18">高中地理</option>
									<option value="25">高中信息技术</option>
								</select>
							</li>
							<li>
								<label>分组名称：</label>
								<input type="text" name="group_name" value="" class="s_GroupName"/>
							</li>
						</ul>
						<input type="hidden" class="sel_sid" name="sel_sid" value=""/>
						<input type="submit" value="确认提交" class="undis"/>
					</form>
				</div>
			</div>
		</div>
	</div>